@{
	ViewData["Title"] = "Main Page";
}

<div class="container mt-5">
	<h1 class="text-center mb-4">Bienvenidos al Sistema de Gestion de StyleStock</h1>


	<div class="row justify-content-center">

		<div class="col-md-4 mb-3 d-flex align-items-stretch">
			<div class="card shadow-sm">
				<img src="~/Image/Clientes.jpg" class="card-img-top" alt="Customer Image">
				<div class="card-body text-center">
					<h5 class="card-title">Clientes</h5>
					<p class="card-text">Gestionar clientes.</p>
					<a href="/Customer" class="btn btn-primary">ir a Clientes</a>
				</div>
			</div>
		</div>


		<div class="col-md-4 mb-3 d-flex align-items-stretch">
			<div class="card shadow-sm">
				<img src="~/Image/Categoria.jpg" class="card-img-top" alt="Customer Image">
				<div class="card-body text-center">
					<h5 class="card-title">Categoria</h5>
					<p class="card-text">Gestionar Categoria de Productos.</p>
					<a href="/Category" class="btn btn-primary">ir a Categoria</a>
				</div>
			</div>
		</div>


		<div class="col-md-4 mb-3 d-flex align-items-stretch">
			<div class="card shadow-sm">
				<img src="~/Image/Productos.jpg" class="card-img-top" alt="Customer Image">
				<div class="card-body text-center">
					<h5 class="card-title">Productos</h5>
					<p class="card-text">Gestionar productos e inventarios.</p>
					<a href="/Products" class="btn btn-primary">Ir a Productos</a>
				</div>
			</div>
		</div>


	</div>
</div>

