@using StyleStock.common.DTOS

@model UpdateSupplierDTO
@{
	ViewData["Title"] = "Crear suplidores";
}

@if (ViewBag.ErrorMessage != null)
{
	<div class="alert alert-danger">
		@ViewBag.ErrorMessage
	</div>
}

<div class="row">
	<div class="col-8">
		<h2 class="text-center text-black">Agregar Suplidor</h2>
		<form asp-controller="Supplier" asp-action="Update" method="post">
			<input type="hidden" asp-for="SupplierId" />
			<div class="mb-2">
				<label for="name" class="form-label">Nombre de Suplidor</label>
				<input class="form-control" type="text" id="name" asp-for="Name" placeholder="Name" required />
			</div>

			<div class="mb-2">
				<label for="phone" class="form-label">Telefono</label>
				<input class="form-control" type="text" id="phone" asp-for="Phone" placeholder="Phone" required />
			</div>

			<div class="mb-2">
				<label for="Email" class="form-label">Correo Electronico</label>
				<input class="form-control" type="email" id="Email" asp-for="Email" placeholder="Email" required />
			</div>

			<div class="mb-2">
				<label for="adress" class="form-label">Direccion</label>
				<input class="form-control" type="text" id="adress" asp-for="Adress" placeholder="Adress" required />
			</div>

			<div class="mb-2">
				<button class="btn btn-success" type="submit">Guardar</button>
				<a class="btn btn-danger" asp-controller="Supplier" asp-action="index">Cancelar</a>
			</div>
		</form>
	</div>

</div>